<footer class="footer bg-dark py-3 mt-auto">
    <div class="container-fluid" style="display: flex; justify-content: space-between;">

        <span style="color: white;">Searchr</span>
        <span style="color: white;"> &#169;2022</span>
    </div>


</footer>